@import "tailwindcss";

:root {
  --background: #f4f4f5;
  --foreground: #18181b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-deepBlue: #090040;
  --color-deepPurple: #471396;
  --color-brightPurple: #b13bff;
  --color-accentYellow: #ffcc00;
  --color-darkZinc: #18181b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181b;
    --foreground: #f4f4f5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .c-space {
    @apply sm:px-12 px-6;
  }
  .animate-margin {
    transition: margin-right 2s ease; /* Change 0.5s to your desired speed */
  }
}
