@import "tailwindcss";

:root {
  --background: #f4f4f5;
  --foreground: #18181b;
}

.dark {
  --background: #18181b;
  --foreground: #f4f4f5;
}

@theme inline {
  --color-blacktheme: var(--background);
  --color-whitetheme: var(--foreground);
  --color-deepBlue: #090040;
  --color-deepPurple: #471396;
  --color-brightPurple: #b13bff;
  --color-accentYellow: #ffcc00;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains), Helvetica, sans-serif;
}

@layer utilities {
  .c-space {
    @apply sm:px-12 px-6;
  }
  .animate-margin {
    transition: margin-right 2s ease; /* Change 0.5s to your desired speed */
  }
}
